/* VideoPlayer.css */

.video-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    /* CLAVES PARA CENTRADO: */
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
}

.video-player video {
    width: 90%;
    max-width: 900px;
    max-height: 80vh;
    height: auto;
    object-fit: contain; 
    border: 4px solid #FFF;
}

.video-player.hide {
    display: none;
}